body {
    background: green;
}

.Toolbar {
    position: relative;
    float: left;
    font-family: 'Trebuchet MS'; 
    font-size: 14px;
    font-variant: small-caps;
    text-align: center;
    background: #F2F7FE;
    padding: 10px 15px 3px 10px;
    margin-bottom: 1px;
    margin-right: 1px;
    border: 1px solid #7B899B;
    display: flex;
    flex-direction: column;
}

.Toolbar button {
    float: left;
    padding: 6px;
    margin: 7px 2px;
    font-variant: normal;
    font-size: 12px;
}

.CanvasContainer {
    background: white;
    padding: 0px 3px;
    float: left;
    clear: both;
}

canvas {
    position: fixed;
    border: 1px solid #7B899B;
}

img {
    padding: 2px;
    border: 2px solid #F2F7FE;
}

img:hover {
    border: 2px groove #E4F0FE;
    background: white;
}


img.Selected {
    border: 2px groove #E4F0FE;
}

#savedCopyContainer {
    right: 11px;
    margin-top: 14px;
    display: none;
}

#savedCopyContainer img {
    display: block;
}